*{
    margin: 0;
    padding: 0;
}
body{
   
    background-color: #548687;
    text-align: center;
}
h1{
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg in oklab, blue, red);
}
.container{
    height: 70vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.7vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7d3;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    /* background: linear-gradient(90deg in oklab, rgb(122, 132, 28), rgb(57, 12, 12)); */
    color: #fff;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    /* background: linear-gradient(90deg in oklab, rgb(122, 132, 28), rgb(57, 12, 12)); */
    color: #fff;

}
#msg{
    color:  #ffffc7d3;
    font-size: 5rem;
}
.msg-container{
 height: 90vmin;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 4rem;
}
.hide{
    display: none;
}